
Temp/FSTimeGet-8f7345d52914d164fb289bc7d8d1cead
Temp/__Backupscenes/0.backup
Temp/ProcessJobs/b8613a84801a46c691ba1681b66ddf56.layout
Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Temp/UnityLockfile
Temp/workerlic
.vs/The WW2/FileContentIndex/0c69fe50-c926-4cb0-b8ef-6d3bb9012bde.vsidx
.vs/The WW2/FileContentIndex/2220652d-9637-4140-970d-0fafff2e715b.vsidx
.vs/The WW2/FileContentIndex/bfc54140-6c90-405c-a09a-f8c8a6db147f.vsidx
.vs/The WW2/FileContentIndex/d6d0e060-b6ef-4218-a403-06922d20cfc8.vsidx
.vs/The WW2/FileContentIndex/f9a4d916-7b07-4c99-bde9-422b606460e6.vsidx
Assets/PolygonWar/Demo/Demo_1.0.unity
Library/ArtifactDB
Library/Bee/fullprofile.json
Library/Search/transactions.db
Library/SourceAssetDB
